.about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
}

.about2 {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
}

.title {
    color: #ffffff;
    font-size: calc(24px + 1vw);
    text-shadow: rgb(0 0 0 / 90%) 0px 2px 15px;
    margin-bottom: calc(12px + 3vh);
}

.content {
    width: 100%;
    height: 50%;
}

@media (min-width: 1200px) {
    .about {
        padding-left: 6rem;
    }

    .content {
        width: 100%;
        height: 60%;
    }
}
