.about {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.title {
    color: #ffffff;
    font-size: calc(24px + 1vw);
    text-shadow: rgb(0 0 0 / 90%) 0px 2px 15px;
    margin-bottom: calc(12px + 3vh);
}

.content {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    color: #dddddd;
    border-radius: 1rem;
}

@media (min-width: 600px) {
    .about {
        height: 50%;
        padding: 0 2rem;
    }

    .content {
        background-color: #13172cd3;
        padding: 1rem 2rem;
    }
}

@media (min-width: 1200px) {
    .about {
        height: 100%;
        padding: 0 6rem;
    }

    .content {
        width: 100%;
        height: 60%;
    }
}
