.about {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.title {
    color: #ffffff;
    font-size: calc(24px + 1vw);
    text-shadow: rgb(255 255 255 / 30%) 0px 2px 15px;
    margin-bottom: calc(12px + 3vh);
}

.content {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 12pt;
    background-color: #13172cd3;
    color: #dddddd;
    border-radius: 1rem;
}

.content h2 {
    font-size: 14pt;
}

@media (min-width: 600px) {
    .about {
        height: 50%;
        padding: 0 2rem;
    }

    .content {
        font-size: 13pt;
        padding: 2rem 4rem;
    }

    .content h2 {
        font-size: 16pt;
    }

    .content p {
        line-height: 24pt;
    }
}

@media (min-width: 800px) {
    .about {
        height: 50%;
        padding: 0 2rem;
    }

    .content {
        font-size: 14pt;
        padding: 2rem 4rem;
    }

    .content h2 {
        font-size: 22pt;
    }

    .content p {
        line-height: 24pt;
    }
}

@media (min-width: 1200px) {
    .about {
        height: 100%;
        padding: 0 6rem;
    }

    .content {
        width: 100%;
    }
}
