.title {
    color: #ffffff;
    font-size: 4.5rem;
    text-shadow: rgb(255 255 255 / 15%) 0px 5px 35px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.subtitle {
    color: #ffffff;
    font-size: 1.875rem;
}
