.spaceship {
    animation: spaceship 20s ease-in-out infinite alternate;
    transform-origin: 36.5px 179px;
}

@keyframes spaceship {
    0% {
        transform: rotateZ(-5deg);
    }

    33% {
        transform: rotateZ(2deg);
    }

    66% {
        transform: rotateZ(-2deg);
    }

    100% {
        transform: rotateZ(6deg);
    }
}

.spaceshipContainer {
    animation: spaceshipcontainer 10s ease-in-out infinite alternate;
}

@keyframes spaceshipcontainer {
    0% {
        transform: translate(0px, -30px);
    }

    25% {
        transform: translate(25px, 0px);
    }

    50% {
        transform: translate(15px, 30px);
    }

    75% {
        transform: translate(-17px, 15px);
    }

    100% {
        transform: translate(-25px, 30px);
    }
}

.fireLarge g path {
    animation: firelarge 4s ease-in-out infinite alternate;
    transform-origin: center;
}

@keyframes firelarge {
    from {
        transform: translateY(0px) scaleY(1);
    }

    to {
        transform: translateY(10px) scaleY(1.3);
    }
}

.fireSmall g path {
    animation: firesmall 3s ease-in-out infinite alternate;
    transform-origin: center;
}

@keyframes firesmall {
    from {
        transform: translateY(0px) scaleY(1);
    }

    to {
        transform: translateY(6.6px) scaleY(1.2);
    }
}
