.bobContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bobSmall {
    animation: bobsmall 3s ease-in-out infinite alternate;
    position: relative;
    width: 100%;
    height: 100%;
}

@keyframes bobsmall {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(30px);
    }
}

.bobSmall .halo {
    animation: bobsmallhalo 4s ease-in-out infinite alternate;
}

/* translate = -100 * scale + 150 */
@keyframes bobsmallhalo {
    from {
        transform: translate(60px, 60px) scale(0.9);
    }

    to {
        transform: translate(40px, 40px) scale(1.1);
    }
}

.bobMedium {
    animation: bobmedium 6s ease-in-out infinite alternate;
    position: relative;
    width: 100%;
    height: 100%;
}

@keyframes bobmedium {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(60px);
    }
}

.bobMedium .halo {
    animation: bobmediumhalo 3s ease-in-out infinite alternate;
}

@keyframes bobmediumhalo {
    from {
        transform: translate(60px, 60px) scale(0.9);
    }

    to {
        transform: translate(30px, 30px) scale(1.2);
    }
}

.bobLarge {
    animation: boblarge 9s ease-in-out infinite alternate;
    position: relative;
    width: 100%;
    height: 100%;
}

@keyframes boblarge {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(90px);
    }
}

.bobLarge .halo {
    animation: boblargehalo 2s ease-in-out infinite alternate;
}

@keyframes boblargehalo {
    from {
        transform: translate(60px, 60px) scale(0.9);
    }

    to {
        transform: translate(20px, 20px) scale(1.3);
    }
}
